CompileFlags:
  Add:
    - "-std=c++17"
    - "-I/usr/include/c++/11"
    - "-I/usr/include/x86_64-linux-gnu/c++/11"
    - "-I/workspace/nccl/src/include"
    - "-I/workspace/nccl/src/include/plugin"
    - "-I/workspace/nccl/src/device"
    - "-I/usr/local/cuda-12/include"